<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Nico Demo - Add/modify Contact</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h1>Contact Form</h1>
			<br/>
			<form action="#" th:action="@{/contacts/addcontact}" th:object="${contactDto}" method="post">
				<input type="hidden" th:field="*{id}"></input>
				First Name: <input type="text" class="form-control" th:field="*{firstName}" th:value="${firstName}"></input>
				<br/>
				Last Name: <input type="text" class="form-control"th:field="*{lastName}" th:value="${lastName}"></input>
				<br/>
				Telephone: <input type="text" class="form-control"th:field="*{telephone}" th:value="${telephone}"></input>
				<br/>
				City: <input type="text" class="form-control" th:field="*{city}" th:value="${city}"></input>
				<br/>
				<br/>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept
				</button>
			</form>
			<a href="#" th:href="@{/contacts/showcontacts}">
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
				</button>
			</a>
		</div>
	</div>

</body>
</html>